.editButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: var(--color-primary);
  color: white;
  border-radius: 8px;
  font-family: bold;
  font-size: 0.9rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.editButton:hover {
  background-color: var(--color-dark);
  color: white;
}